<h1 style="text-align:center; margin:25px">2019 SRFFL OWNERS</h1>
<div class="grid-container" style="padding-left:125px">
    <div class="card grid-item" style="width: 18rem;">
        <img class="card-img-top" src="./assets/JR.jpeg" alt="Joe">
        <div class="card-body">
          <h5 class="card-title">Joe</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="grid-item">
        <div class="card grid-item" style="width: 18rem;">
            <img class="card-img-top" src="./assets/roy.jpg" alt="Roy">
            <div class="card-body">
              <h5 class="card-title">Roy</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div> 
    </div>
    <div class="grid-item">
        <div class="card grid-item" style="width: 18rem;">
            <img class="card-img-top" src="./assets/shaye.jpeg" alt="Sherm">
            <div class="card-body">
              <h5 class="card-title">Sherm</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>  
    </div>
    <div class="grid-item">
        <div class="card grid-item" style="width: 18rem;">
            <img class="card-img-top" src="" alt="Lee">
            <div class="card-body">
              <h5 class="card-title">Lee</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>  
    </div>
    <div class="grid-item">
        <div class="card grid-item" style="width: 18rem;">
            <img class="card-img-top" src="./assets/dans.jpeg" alt="Dans">
            <div class="card-body">
              <h5 class="card-title">Dans</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>  
    </div>
    <div class="grid-item">
        <div class="card grid-item" style="width: 18rem;">
            <img class="card-img-top" src="./assets/king1.jpg" alt="King">
            <div class="card-body">
              <h5 class="card-title">King</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>  
    </div>
    <div class="grid-item">
        <div class="card grid-item" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Esus">
            <div class="card-body">
              <h5 class="card-title">Esus</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>  
    </div>
    <div class="grid-item">
        <div class="card grid-item" style="width: 18rem;">
            <img class="card-img-top" src="./assets/peck.jpeg" alt="Peck">
            <div class="card-body">
              <h5 class="card-title">Peck</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>   
    </div>
    <div class="grid-item">
        <div class="card grid-item" style="width: 18rem;">
            <img class="card-img-top" src="./assets/ju.jpg" alt="Ju">
            <div class="card-body">
              <h5 class="card-title">Ju</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>  
    </div>
    <div class="grid-item">
        <div class="card grid-item" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Q">
            <div class="card-body">
              <h5 class="card-title">Q</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>  
    </div>
</div>
<h1 style="text-align:center; margin:25px">PAST SRFFL OWNERS</h1>
<div class="grid-container" style="padding-left:125px">
    <div class="grid-item">
        <div class="card grid-item" style="width: 18rem;">
            <img class="card-img-top" src="./assets/garth.jpeg" alt="Garth">
            <div class="card-body">
              <h5 class="card-title">Garth</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>  
    </div>
    <div class="grid-item">
        <div class="card grid-item" style="width: 18rem;">
            <img class="card-img-top" src="./assets/father.jpeg" alt="Father">
            <div class="card-body">
              <h5 class="card-title">Father</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>  
    </div>
    <div class="grid-item">
        <div class="card grid-item" style="width: 18rem;">
            <img class="card-img-top" src="./assets/shed.jpeg" alt="Shed">
            <div class="card-body">
              <h5 class="card-title">Shed</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>  
    </div>
    <div class="grid-item">
        <div class="card grid-item" style="width: 18rem;">
            <img class="card-img-top" src="./assets/fish.png" alt="Fish">
            <div class="card-body">
              <h5 class="card-title">Fish</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>  
    </div>
</div>

